@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">ProductNumber</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Color</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListProduct != null)
                    {
                        @foreach (var product in Model.ListProduct)
                        {
                            <tr>
                                <th scope="row">@product.ProductID</th>
                                <th scope="row">@product.Name</th>
                                <td>@product.ProductNumber</td>
                                <td>@product.SafetyStockLevel</td>
                                <td>@product.Color</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.ListProduct != null)
                    {
                        @foreach (var product in Model.ListProduct)
                        {
                            <tr>
                                <th scope="row">@product.ProductID</th>
                                <th scope="row">@product.Name</th>
                            </tr>
                        }
                    }

                    </tbody>
            </table>
        </div>
    </div>
</div>


    


